# Ignore system files.
.*
*~

# Ignore Python cache.
__pycache__

# Ignore local settings.
yars/settings/local.py

# Ignore node modules.
frontend/node_modules

# Ignore development builds.
frontend/builds/dev

# Ignore 'yarn' error log.
frontend/yarn-error.log*


# Keep this '.gitignore'.
!.gitignore

# Keep '.gitattributes'.
!.gitattributes

# Keep '.gitkeep' to commit empty directories.
!.gitkeep

# Keep 'isort' configuration.
!.isort.cfg

# Keep frontend configuration.
!frontend/.browserslistrc
!frontend/.eslintrc.js
